@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}
/* Default (Light mode) autofill */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #ffffff inset !important; /* Tailwind light: bg-white */
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  -webkit-text-fill-color: #202938 !important; /* Tailwind light: text-gray-800 */
  transition: background-color 5000s ease-in-out 0s;
}

/* Dark mode override (only when .dark class is applied to html or body) */
.dark input:-webkit-autofill,
.dark textarea:-webkit-autofill,
.dark select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #202938 inset !important; /* Tailwind dark: bg-gray-800 */
  -webkit-box-shadow: 0 0 0px 1000px #202938 inset !important;
  -webkit-text-fill-color: #f3f4f6 !important; /* Tailwind dark: text-gray-100 */
}

html.disable-transitions *,
html.disable-transitions *::before,
html.disable-transitions *::after {
  transition: none !important;
}
