<!DOCTYPE html> 
<html> 

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Common Diseases Chart</title> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script> 

  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">

    <!-- Example Code -->
    
        
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em">Wellness Weave</text></svg>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Your Health, Our Priority</text></svg>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#555"></rect><text x="50%" y="50%" fill="#333" dy=".3em">A Pill For Every Ill</text></svg>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" src="/static/images/explore-bg.jpg" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#555"></rect><text x="50%" y="50%" fill="#333" dy=".3em">A Pill For Every Ill</text></svg>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
      
    <!-- End Example Code -->
  


    


    <div> 
        <style>
            h1 {
                text-align: center;
                color: green;
            }
        </style>
        <h1>Common Diseases Chart</h1> 

        <div> 
            <canvas id="barChartID"></canvas> 
        </div> 
    </div> 

    
    <script> 
        // Common diseases data
        const diseasesData = {
            labels: ['Malaria', 'Influenza', 'HIV/AIDS', 'Tuberculosis', 'Diarrheal ', 'Stroke', 'COPD', 'heart disease', 'respiratory infections', 'Lung cancers'],
            data: [2280000, 646000, 303000, 187000, 131700, 115300, 113800, 113100, 111300, 106000] // Example fabricated data in terms of number of cases
        };

        // Bar chart
        new Chart($("#barChartID"), { 
            type: 'bar', 
            options: { 
                legend: { display: true }, 
                indexAxis: 'x', 
                title: { 
                    display: true, 
                    text: 'Common Diseases Chart' 
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Number of Cases'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Common Worldwide Disease',
                            font: {
                                size: 16 // Adjust the font size here
                            }
                        }
                    }
                }
            }, 
            data: { 
                labels: diseasesData.labels, 
                datasets: [ 
                    { 
                        label: "Number of Cases", 
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        hoverBackgroundColor: 'rgba(255, 99, 132, 0.8)',
                        hoverBorderColor: 'rgba(54, 162, 235, 1)',
                        data: diseasesData.data 
                    } 
                ] 
            }			 
        }); 
    </script> 
    </body>

</html>
