<!DOCTYPE html>
<html lang="en">

<head>

<!-- SLIDER -->
     <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Owl Carousel CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet">
  <style>
    .owl-carousel .item {
      margin: 10px;
    }
    .owl-carousel .item img {
      display: block;
      width: 200px; /* Set the width */
      height: 200px; /* Set the height */
      object-fit: cover; /* Maintain aspect ratio */
      /* border-radius: 50%; Make it round */
    }
  </style>
  






    <title>WellnessWeave Intelligent Healthcare</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     
   <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" /> 
    <link type="text/css" rel="stylesheet" href="css/owl.carousel.min.css" />
    <link type="text/css" rel="stylesheet" href="css/owl.theme.default.min.css" />
 
    
    <!--wl Carousel is a popular jQuery plugin for creating responsive and customizable carousels (sliders) on web pages.-->

    <link type="image" rel="icon" href="https://i.pinimg.com/736x/6f/0b/af/6f0baf42f323c489eb4366b7e65d486c.jpg" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,600i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,600,600i" rel="stylesheet">
    <style>  .logo {
        width: 70px;
        height: 70px;
        color: black;
        margin-top: 0;
        margin-left: 1px;
    }
    .myimg {
            width: 70px;
            height: 70px;
            border: 2px solid rgb(255, 249, 249);
            border-radius: 50%;
        }
    </style>
</head>


<body>
    

    <div id="arrow">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>

    <nav>
        <div class="container">
            <div class="menu-par">
                <div class="logo">
                    <img class="myimg" src="/static/images/Logo.png" alt="">
                </div>
                <div class="logo-par">
                  
                    <a href="index.html">
                        <h2>Wellness Weave</h2>  <!--!NDIA-->
                    </a>
                </div>
                <!-- </style> -->
                <div class="nav">
                    <ul>
                        <li><a class="menu_hover" href="FrontEnd.html">Home</a></li>
                        <li><a class="menu_hover" href="HospitalSearch.html">Search Hospital</a></li>
                        <li><a class="menu_hover" href="index2.html">Our Pharmacy</a></li>
                        <!-- <li><a class="menu_hover" href="#explore-fiji">Travel With us</a></li> -->
                        <li><a class="menu_hover" href="#gallery">Gallery</a></li>
                        <!-- <li><a class="menu_hover" href="#fiji-holyday">Our Pride</a></li> -->
                        <li><a class="menu_hover" href="#blog">Blog</a></li>
                    </ul>
                </div>
                <div class="toggle-btn">
                    <i class="fa fa-bars"></i>
                </div>
                <!-- <form class="d-flex" role="search">
                    <input id="searchInput" class="form-control me-2" type="search" placeholder="Search Wikipedia" aria-label="Search">
                    <button class="btn btn-outline-success" type="button" id="searchButton">Search</button>
                </form> -->
            </div>
            
        </div>
        
    </nav>

    <header>
        <div class="conatiner">
            <div class="home_header_info">
                <h1 class="typewrite" data-period="2000" data-type='[ "Wellness Weave Healthcare", "आरोग्यम् परमं धनं!!!", " Your Health Advocate in Every Prescription.." ]'></h1>
                <p>
                    At our core, we excel in providing accurate predictions based solely on your symptoms. Leveraging advanced algorithms and thorough analysis, we offer personalized insights into potential health conditions. </p>
                <a href="https://indianculture.gov.in/">Read More</a>
            </div>
        </div>
        <div class="video">
            <video id="video" autoplay loop muted>
                <source type="video/mp4" src="/WebFront/MainWebfront/images/v31.mp4" />
            </video>
        </div>
    </header>

    <Section id="welcome_Sec">
        <div class="container">
            <h2><span>Elevating wellness through comprehensive healthcare solutions!
            </span></h2>
            <p>Empowering individuals to prioritize their well-being with personalized care plans and holistic support.</p>
        </div>
    </Section>

    <Section id="slides_parent">
        <div class="container">
            <div class="slides">
                <div class="slide_1">
                    <div class="slide_info"> 
                         <!-- in style.css image url linked -->
                        <!-- <p>Modhera Sun Temple </p> -->
                        <p>Homeopathy</p>
                    </div>
                </div>
                <div class="slide_1 slide_2">
                    <div class="slide_info">
                        <!-- <p>Adi Annamalai temple</p> -->
                    <p>Allopathy</p>
                    </div>
                </div>
                <div class="slide_1 slide_3">
                    <div class="slide_info">
                        <!-- <p>Western Ghats</p> -->
                        <p>Naturopathy</p>
                    </div>
                </div>
                <div class="slide_1 slide_4">
                    <div class="slide_info">
                        <!-- <p>Red Fort</p> -->
                        <p>Acupuncture</p>
                    </div>
                </div>
                <div class="slide_1 slide_5">
                    <div class="slide_info">
                        <!-- <p>Chhatrapati Shivaji Terminus </p> -->
                        <p>Ayurveda </p>
                    </div>
                </div>
                <div class="slide_1 slide_6">
                    <div class="slide_info">
                        <!-- <p>Bandipur National Park</p> -->
                        <p>Unani</p>
                    </div>
                </div>
                <div class="slide_1 slide_7">
                    <div class="slide_info">
                        <!-- <p>Ganga Aarti</p> -->
                        <p>Siddha</p>
                    </div>
                </div>
            </div>
        </div>
    </Section>

    <section id="explore-fiji">
       <center><h1> Locate top Hospitalities in India!</h1></center> 
       <br><br>
       <center><p><h4>This map depicts the top Hospitals in India in terms of their geographical location.<br> Click on any pointer to learn more about the place and to appreciate the diversity!</h4></p></center>
     <br><br>
     <!-- <center> <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1rWVL7-ObutJZd9PlLtzqS4kounhEzHg&ehbc=2E312F" width="60%" height="480"></iframe></center> -->
     <center> <iframe src="https://www.google.com/maps/d/embed?mid=1nrRS9DlZ4OcURR9k02DSezP52Nh_E0M&ehbc=2E312F" width="60%" height="480"></iframe></center>
    </section>




    
<!-- 


    <section id="gallery">
        <div class="container">
            <div class="row">
                <div align="center">
                    <button class="btn filter-button active" data-filter="all">All</button>
                    <button class="btn filter-button" data-filter="hdpe">Foods and Culture</button>
                    <button class="btn filter-button" data-filter="sprinkle">Heritage Sites</button>
                    <button class="btn filter-button" data-filter="spray">Paradise</button>
                </div>

                <div class="filter-gal-par">
                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                        <img src="images/fiji-surprise/f1.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                        <img src="images/fiji-surprise/f2.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                        <img src="images/fiji-surprise/f3.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                        <img src="images/fiji-surprise/h1.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                        <img src="images/fiji-surprise/h2.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                        <img src="images/fiji-surprise/h3.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                        <img src="images/fiji-surprise/p1.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                        <img src="images/fiji-surprise/p2.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                        <img src="images/fiji-surprise/p3.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                        <img src="images/fiji-surprise/g1.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                        <img src="images/fiji-surprise/g2.jpg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                        <img src="images/fiji-surprise/g3.jpg" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </section> -->


    <!-- <h1>Slider here</h1> -->


    <br>
    <br>
    <body>

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="owl-carousel">
                <div class="item"><img src="/static/images/Lib/Bone.png" alt="Slide 1"></div>
                <div class="item"><img src="/static/images/Lib/Dib.png" alt="Slide 2"></div>
                <div class="item"><img src="/static/images/Lib/Fever.png" alt="Slide 3"></div>
                <div class="item"><img src="/static/images/Lib/Hair.png" alt="Slide 4"></div>
                <div class="item"><img src="/static/images/Lib/Heart.png" alt="Slide 5"></div>
                <div class="item"><img src="/static/images/Lib/Lifestyle.png" alt="Slide 6"></div>
                <div class="item"><img src="/static/images/Lib/Thyroid.png" alt="Slide 6"></div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script>
          $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
              loop:true,
              margin:10,
              nav:true,
              autoplay:true, // Set autoplay to true
              autoplayTimeout:3000, // Autoplay interval in milliseconds (3000ms = 3 seconds)
              responsive:{
                0:{
                  items:1
                },
                600:{
                  items:3 // Display 3 items on smaller screens
                },
                1000:{
                  items:5 // Display 5 items on larger screens
                }
              }
            });
          });
        </script>
        

    <section id="blog">
        <div class="container">
            <h3>Blogs and Articles</h3>
            <div id="blog-par">
                <div class="blog-content">
                    <div class="blog-img">
                        <img class="img-responsive" src="/static/images/blog1.jpg" />
                    </div>
                    <div class="blog-info">
                        <ul>
                            <!-- <li>CulturalIndia.net</li> -->
                            <li>Yash's Blog</li>
                        </ul>
                        <h4><a href="https://www.maxhealthcare.in/blogs/type-1-diabetes-causes-symptoms-and-diagnosis">Type 1 Diabetes: Symptoms, Diagnosis and Treatment</a></h4>
                       <p>Type 1 diabetes is more than just a medical condition; it is a disorder impacting the daily affairs of those affected and also the caregivers.
                        </p>
                       </div>
                </div>
                <div class="blog-content">
                    <div class="blog-img">
                        <img class="img-responsive" src="/static/images/blog2.jpg"> 
                    </div>
                        <div class="blog-info">
                        <ul>
                            <li>Yash's Blog</li>
                           
                        </ul>
                        <h4><a href="https://www.maxhealthcare.in/blogs/parkinsons-disease-medical-vs-surgical-management">Parkinson's Disease: A Comparative Analysis </a></h4>
                       <p>Parkinson's disease is not just a movement-related condition- it affects multiple systems at once. We often consider older adults with shaky hands to have Parkinson's disease- 

                      </p>
                    </div>
                </div>
            </div>
            <!-- <div id="blog-par">
                <div class="blog-content">
                    <div class="blog-img">
                        <img class="img-responsive" src="https://e9h9g3x6.rocketcdn.me/wp-content/uploads/2016/05/shutterstock_124237597-860x571.jpg.webp" />
                    </div>
                    <div class="blog-info">
                        <ul>
                            <li>translatemedia</li>
                            <li>01.02.2024</li>
                        </ul>
                        <h4><a href="https://www.translatemedia.com/translation-blog/look-indias-amazing-linguistic-diversity/" target="_blank">A Look at India’s Amazing Linguistic Diversity</a></h4>
                        <p>India is a big country and it packs in an astonishing array of languages.
                            
                            It’s unlikely that any other country in the world matches India for 
                            linguistic diversity.</p>
                    </div>
                </div> -->
                
                <!-- <div class="blog-content">
                    <div class="blog-img">
                        <img class="img-responsive" src="https://d.newsweek.com/en/full/1669799/diwali-celebrations.jpg?w=1600&h=900&q=88&f=a41dbae89faa01003f9e4686e91ebe4c" />
                    </div>
                    <div class="blog-info">
                        <ul>
                            <li>Treebo</li>
                            <li>01.02.2024</li>
                        </ul>
                        <h4><a href="https://www.treebo.com/blog/religious-festivals-of-india/" target="_blank">The Spectrum of National festivals of India</a></h4>
                        <p>Such diverse cultures, culminating such varied festivals and that too under the name of a single country; such is the greatness of Indian culture. </p>
                    </div>
                </div>
            </div>
        </div> -->
    </section>

        

        </div> 
    </section>

    <!--Blog here-->
 

   <!--Footer here-->
   <!-- <h1>Footer Section..</h1> -->
   <footer>
    <div class="container">
        <div class="footer-par">
            <div class="footer-1">
                <h2> Wellness Weave</h2>
            </div>
            <div class="footer-2 fot-info">
                <h3>WellnessWeave Overall India</h3>
                <ul>
                    <li><a href="https://www.jspmrscoe.edu.in/">Tathawade</a></li>
                    <li><a href="https://tssm.edu.in/">Katraj</a></li>
                    <li><a href="https://www.jspmjscoe.edu.in/about/jspm-wagholi-campus">Wagholi</a></li>
                
        
                   
                </ul>
           

                <!-- <ul>
                    <li><a href="https://www.andhrapradesh.gov.in/">Andhra Pradesh</a></li>
                    <li><a href="https://www.arunachalpradesh.gov.in/">Arunachal Pradesh</a></li>
                    <li><a href="https://www.assam.gov.in/">Assam</a></li>
                    <li><a href="URL_FOR_BIHAR">Bihar</a></li>
                    <li><a href="URL_FOR_CHHATTISGARH">Chhattisgarh</a></li>
                    <li><a href="URL_FOR_GOA">Goa</a></li>
                    <li><a href="URL_FOR_GUJARAT">Gujarat</a></li>
                    <li><a href="URL_FOR_HARYANA">Haryana</a></li>
                    <li><a href="URL_FOR_HIMACHAL_PRADESH">Himachal Pradesh</a></li>
                    <li><a href="URL_FOR_JHARKHAND">Jharkhand</a></li>
                    <li><a href="URL_FOR_KARNATAKA">Karnataka</a></li>
                    <li><a href="URL_FOR_KERALA">Kerala</a></li>
                    <li><a href="URL_FOR_MADHYA_PRADESH">Madhya Pradesh</a></li>
                    <li><a href="URL_FOR_MAHARASHTRA">Maharashtra</a></li>
                    <li><a href="URL_FOR_MANIPUR">Manipur</a></li>
                   
                </ul> -->
                
            </div>
            <div class="footer-3 fot-info">
                <h3>Visit For More</h3>
                <ul> <li><a href="URL_FOR_MEGHALAYA">JSPM's Rajarshi Shahu College Of Engineering </a></li>
                    <li><a href="URL_FOR_MIZORAM">JSPM'S JAYAWANT INSTITUTE OF PHARMACY</a></li>
                    <li><a href="URL_FOR_NAGALAND"></a></li>
                    <li><a href="URL_FOR_ODISHA"></a></li>
        
                </ul>
            </div>
            <div class="footer-4 fot-info">
                <h3>Contact Us</h3>
                <ul>
                    <li><a href="https://github.com/YashL3616">Yash</a></li>
                    <li><a href="https://github.com/YashL3616">Yash</a></li>
                    <li><a href="https://github.com/YashL3616">Yash</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p class="copyright">EDI2024</p>
</footer>


    <script type="text/javascript" src="/WebFront/MainWebfront/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/WebFront/MainWebfront/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/WebFront/MainWebfront/js/extrenaljq.js"></script>
</body>

</html>
