<!DOCTYPE html>
<html lang="en">

<head>





    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wellness Weave</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>WellnessWeave Intelligent Healthcare</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


<!-- SLIDER -->
     <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Owl Carousel CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet">
  <style>
    .owl-carousel .item {
      margin: 10px;
    }
    .owl-carousel .item img {
      display: block;
      width: 200px; /* Set the width */
      height: 200px; /* Set the height */
      object-fit: cover; /* Maintain aspect ratio */
      /* border-radius: 50%; Make it round */
    }
  </style>
  





    <title>WellnessWeave Intelligent Healthcare</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
   <link type="text/css" rel="stylesheet" href="css/style2.css" />
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" /> 
    <link type="text/css" rel="stylesheet" href="css/owl.carousel.min.css" />
    <link type="text/css" rel="stylesheet" href="css/owl.theme.default.min.css" />
 
    
    <!--wl Carousel is a popular jQuery plugin for creating responsive and customizable carousels (sliders) on web pages.-->

    <link type="image" rel="icon" href="https://i.pinimg.com/736x/6f/0b/af/6f0baf42f323c489eb4366b7e65d486c.jpg" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,600i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,600,600i" rel="stylesheet">
    <style>  .logo {
        width: 70px;
        height: 70px;
        color: black;
        margin-top: 0;
        margin-left: 1px;
    }
    .myimg {
            width: 70px;
            height: 70px;
            border: 2px solid rgb(255, 249, 249);
            border-radius: 50%;
        }
    </style>
</head>


<body>
    <div id="arrow">
        <i class="fa fa-arrow-up" aria-hidden="true">
        </i>
    </div>
      <nav>
        <div class="container">
            <div class="menu-par">
                <div class="logo">
                    <img class="myimg" src="css/images/Logo.png" alt="">
                </div>
                <div class="logo-par">
                    <a href="index.html">
                        <h2>Wellness Weave</h2>  <!--!NDIA-->
                    </a>
                </div>
                <!-- </style> -->
                <div class="nav">
                    <ul>
                        <li><a class="menu_hover" href="/templates/FrontEnd.html">Home</a></li>
                        <li><a class="menu_hover" href="PlaceSearch.html">Search Hospital</a></li>
                        <li><a class="menu_hover" href="#slides_parent">Oru Pharmacy</a></li>
                       
                        <li><a class="menu_hover" href="#gallery">Gallery</a></li>
                        <!-- <li><a class="menu_hover" href="#fiji-holyday">Our Pride</a></li> -->
                        <li><a class="menu_hover" href="#blog">Blog</a></li>
                    </ul>
                </div>
                <div class="toggle-btn">
                    <i class="fa fa-bars"></i>
                </div>
                <!-- <form class="d-flex" role="search">
                    <input id="searchInput" class="form-control me-2" type="search" placeholder="Search Wikipedia" aria-label="Search">
                    <button class="btn btn-outline-success" type="button" id="searchButton">Search</button>
                </form> -->
            </div>  
        </div>    
    </nav>
    

    <!-- <header> -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <header>
        <h1 class="mt-4 my-4 text-center text-white ">Health Care Center</h1>
        </header>

<div class="container my-4 mt-4" style="background: #a8ddf7; color: rgb(255, 255, 255); border-radius: 15px; padding: 40px;">
    <form action="/predict" method="post">
        <div class="form-group">
            <label for="symptoms" style="color: rgb(25, 25, 75);">Enter Symptoms:</label>

            <input type="text" style="background-color: white;"  class="form-control" id="symptoms" name="symptoms" placeholder="type systems such as itching, aching etc">

        </div>
        <br>
        <!-- <button type="button" id="startSpeechRecognition" class="btn btn-primary" style="margin-left:3px;border:1px solid white; border-radius:20px;">
            Start Speech Recognition
        </button> -->
        <br>

        <!-- Display the transcribed text here
        <div name="mysysms" id="transcription"></div>

        {% if message %}
        <p>{{message}}</p>
        {% endif %} -->
        <br>

        <button class="btn btn-danger" style="width: 100%; padding: 14px; margin-bottom: 5px;">Predict</button>
    </form>
</div>




{% if predicted_disease %}

<!-- Results -->
<h1 class="text-center my-4 mt-4">Prescribed Medications and Analysis</h1>
<div class="container">

    <div class="result-container">
        <!-- Buttons to toggle display -->
        <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#diseaseModal" style="padding:4px;  margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#8af38b;color:black;">Disease</button>
        <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#descriptionModal" style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#8af38b ;color:black;">Description</button>
        <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#precautionModal" style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#8af38b ;color:black;">Precaution</button>
        <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#medicationsModal" style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px;border-radius:5px; background:#8af38b ;color:black;">Medications</button>
        <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#workoutsModal" style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#8af38b ;color:black;">Workouts</button>
        <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#dietsModal" style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#8af38b;color:black;">Diets</button>
    </div>
</div>

{% endif %}

<!-- Disease Modal -->
    <div class="modal fade" id="diseaseModal" tabindex="-1" aria-labelledby="diseaseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;"> <!-- Set header background color inline -->
                    <h5 class="modal-title" id="diseaseModalLabel">Predicted Disease</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background-color:white"> <!-- Set modal body background color inline -->
                    <p>{{ predicted_disease }}</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Description Modal -->
    <div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="descriptionModalLabel">Description</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ dis_des }}</p>
                </div>
            </div>
        </div>
    </div>

<!-- Precaution Modal -->
    <div class="modal fade" id="precautionModal" tabindex="-1" aria-labelledby="precautionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="precautionModalLabel">Precaution</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in my_precautions %}
                            <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <!-- Medications Modal -->
    <div class="modal fade" id="medicationsModal" tabindex="-1" aria-labelledby="medicationsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="medicationsModalLabel">Medications</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in medications %}
                            <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Workouts Modal -->
    <div class="modal fade" id="workoutsModal" tabindex="-1" aria-labelledby="workoutsModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="workoutsModalLabel">Workouts</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in workout %}
                            <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Diets Modal -->
    <div class="modal fade" id="dietsModal" tabindex="-1" aria-labelledby="dietsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #020606; color:white;">
                    <h5 class="modal-title" id="dietsModalLabel">Diets</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in my_diet %}
                            <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>



     
    <!-- </header> -->
    

    

  




    



    <!-- <h1>Slider here</h1> -->


    <br>
    <br>
    

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="owl-carousel">
                <div class="item"><img src="css/images/Lib/Bone.png" alt="Slide 1"></div>
                <div class="item"><img src="css/images/Lib/Dib.png" alt="Slide 2"></div>
                <div class="item"><img src="css/images/Lib/Fever.png" alt="Slide 3"></div>
                <div class="item"><img src="css/images/Lib/Hair.png" alt="Slide 4"></div>
                <div class="item"><img src="css/images/Lib/Heart.png" alt="Slide 5"></div>
                <div class="item"><img src="css/images/Lib/Lifestyle.png" alt="Slide 6"></div>
                <div class="item"><img src="css/images/Lib/Thyroid.png" alt="Slide 6"></div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script>
          $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
              loop:true,
              margin:10,
              nav:true,
              autoplay:true, // Set autoplay to true
              autoplayTimeout:3000, // Autoplay interval in milliseconds (3000ms = 3 seconds)
              responsive:{
                0:{
                  items:1
                },
                600:{
                  items:3 // Display 3 items on smaller screens
                },
                1000:{
                  items:5 // Display 5 items on larger screens
                }
              }
            });
          });
        </script>
        







    
    










         

        </div> 
    </section>

 

   <!--Footer here-->
   <!-- <h1>Footer Section..</h1> -->
   <footer>
    <div class="container">
        <div class="footer-par">
            <div class="footer-1">
                <h2> Wellness Weave</h2>
            </div>
            <div class="footer-2 fot-info">
                <h3>WellnessWeave Overall India</h3>
           

                <ul>
                    <li><a href="https://www.andhrapradesh.gov.in/">Andhra Pradesh</a></li>
                    <li><a href="https://www.arunachalpradesh.gov.in/">Arunachal Pradesh</a></li>
                    <li><a href="https://www.assam.gov.in/">Assam</a></li>
                    <li><a href="URL_FOR_BIHAR">Bihar</a></li>
                    <li><a href="URL_FOR_CHHATTISGARH">Chhattisgarh</a></li>
                    <li><a href="URL_FOR_GOA">Goa</a></li>
                    <li><a href="URL_FOR_GUJARAT">Gujarat</a></li>
                    <li><a href="URL_FOR_HARYANA">Haryana</a></li>
                    <li><a href="URL_FOR_HIMACHAL_PRADESH">Himachal Pradesh</a></li>
                    <li><a href="URL_FOR_JHARKHAND">Jharkhand</a></li>
                    <li><a href="URL_FOR_KARNATAKA">Karnataka</a></li>
                    <li><a href="URL_FOR_KERALA">Kerala</a></li>
                    <li><a href="URL_FOR_MADHYA_PRADESH">Madhya Pradesh</a></li>
                    <li><a href="URL_FOR_MAHARASHTRA">Maharashtra</a></li>
                    <li><a href="URL_FOR_MANIPUR">Manipur</a></li>
                   
                </ul>
                
            </div>
            <div class="footer-3 fot-info">
                <h3>Visit For More</h3>
                <ul> <li><a href="URL_FOR_MEGHALAYA">Meghalaya</a></li>
                    <li><a href="URL_FOR_MIZORAM">Mizoram</a></li>
                    <li><a href="URL_FOR_NAGALAND">Nagaland</a></li>
                    <li><a href="URL_FOR_ODISHA">Odisha</a></li>
                    <li><a href="URL_FOR_PUNJAB">Punjab</a></li>
                    <li><a href="URL_FOR_RAJASTHAN">Rajasthan</a></li>
                    <li><a href="URL_FOR_SIKKIM">Sikkim</a></li>
                    <li><a href="URL_FOR_TAMIL_NADU">Tamil Nadu</a></li>
                    <li><a href="URL_FOR_TELANGANA">Telangana</a></li>
                    <li><a href="URL_FOR_TRIPURA">Tripura</a></li>
                    <li><a href="URL_FOR_UTTARAKHAND">Uttarakhand</a></li>
                    <li><a href="URL_FOR_UTTAR_PRADESH">Uttar Pradesh</a></li>
                    <li><a href="URL_FOR_WEST_BENGAL">West Bengal</a></li>
                    <li><a href="https://www.mygov.in/">My Goverment</a></li>
                    <li><a href="https://www.digitalindia.gov.in/">Digital India</a></li>
                    <li><a href="https://tourism.gov.in/">Ministry of Tourism</a></li>
                </ul>
            </div>
            <div class="footer-4 fot-info">
                <h3>Contact Us</h3>
                <ul>
                    <li><a href="https://github.com/YashL3616">Yash</a></li>
                    <li><a href="https://github.com/YashL3616">Yash</a></li>
                    <li><a href="https://github.com/YashL3616">Yash</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p class="copyright">SY-BTech EDI2024</p>
</footer>


    <script type="text/javascript" src="css/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="css/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="css/js/extrenaljq.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>
